{% extends "menu.html" %}
{% block body %}
    <div class="main-container-play">
        <form class='edit_info' method = "post">
            <h2>Insert info about donor</h2>
               <ul>
                   <li>Email:<input id='email' type="text" onfocus="this.value=''" name="email" value="Enter donors email" class="form-control"></li>
                     </br>
                   <input id="result"  type = "submit" value = "Add donation" /></li>
               </ul>
        </form>


    </div>
{% endblock %}
