<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>Krv je život</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" >
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
{% block additional_css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block menu %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
 <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="text-muted">Krv je život &copy; 2018</li>
          <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
          <li><a href="{{ url_for('terms') }}">Terms of Service</a></li>
        </ul>
      </div>
    </footer>
</html>